@layout('layouts.main')

@section('content')
<div class="content-wrapper">


	<!-- Skew-row -->

	<section class="section-bg-skew bg-pharmdelve bg-violet pt-90 not-top-element">
		<div class="container">
			<div class="row">

				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 py-100">
					<div class="crumina-module crumina-heading custom-color c-white">
						<h2 class="h1 heading-title">A vast repository of Market Research Reports</h2>
						<div class="heading-text">PharmDelve brings you the right approach to unlock the path for renowned Market Insights into Life Science.</div>
					</div>
					<a href="#"   class="btn btn-market btn--with-shadow">
						<svg class="utouch-icon utouch-icon-apple-logotype-1"><use xlink:href="#utouch-icon-apple-logotype-1"></use></svg>
						<div class="text">
							<span class="sup-title">Take A</span>
							<span class="title">Demo</span>
						</div>
					</a>

					<a href="#"   class="btn btn-market btn--with-shadow">
						<img class="utouch-icon" src="svg-icons/google-play.svg" alt="google">
						<div class="text">
							<span class="sup-title">Download on the</span>
							<span class="title">Google Play</span>
						</div>
					</a>
				</div>
				<div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-12 col-xs-12 negative-margin-bottom80">
					<img src="{{ assetsUrl('img/pharmdelve/png/screen1.png') }}" alt="image">
				</div>
			</div>
		</div>
	</section>

	<!-- ... end Skew-row -->


	<!-- Skew-row -->

	<section class="medium-padding120 pb30">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-sm-12 col-lg-12">
					<h5 class="heading-title">ABOUT PHARMDELVE</h5>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<div class="crumina-module crumina-heading">
						<div class="heading-text">A repository of 500+ syndicated Pharma market research reports spanning more than 27 therapeutic areas exclusively designed to render maximum value and real-time customized market insights. Designed to cater the clients from various sub-verticals of Life Science, PharmDelve is equipped with a team of experienced, dedicated and well-informed in-house analysts and networked KOLs. 
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 col-sm-12 col-xs-12">
					<div class="crumina-module crumina-heading">
						
						<ul class="list list--standard">
							<li>
								<svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>
								<a href="#">Interactive Dashboard</a>
							</li>
							<li>
								<svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>
								<a href="#">User-friendly format</a>
							</li>
							<li>
								<svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>
								<a href="#">Excel-based dynamic model</a>
							</li>
							<li>
								<svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>
								<a href="#">End-to-end Encryption</a>
							</li>
							<li>
								<svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>
								<a href="#">24*7 Live Support</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- ... end Skew-row -->


	<!-- Skew-row with sliders -->

	<section class="section-bg-skew bg-11 bg-blue-lighteen pt180 align-center">
		<div class="container">
			<div class="row">

				<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 mb60">
					<div class="crumina-module crumina-heading">
						<h6 class="heading-sup-title">Why PharmDelve ?</h6>
						<h2 class="heading-title">Pharma Market Research Subscription Platform that is both Befitting and Bespoke</h2>
						<div class="h6 heading-text">A Dashboard which is easy-to-use and lets the client enjoy the whole experience of exploring the platform.  Utilize the advantages of interactive and intuitive dashboard smoothly and holistically, without any unnecessary distractions and redundancies.
						</div>
					</div>
				</div>
				<div class="crumina-module crumina-module-slider slider-3-items">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="swiper-container pagination-bottom">
							<div class="swiper-wrapper">
                                <img src="{{ assetsUrl('img/pharmdelve/gif/new-gif.gif') }}">
							</div>

							<!-- If we need pagination -->
							<div class="swiper-pagination"></div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- ... end Skew-row with sliders -->

	<!-- Skew-row -->

	<section class="pt120">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 negative-margin-bottom80">
					<div class="crumina-module crumina-double-image">
						<img src="{{ assetsUrl('img/pharmdelve/png/image6.png') }}" alt="image">
						<img src="{{ assetsUrl('img/pharmdelve/png/image7.png') }}" alt="image">
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pb80">
					<div class="crumina-module crumina-heading">
						<h3 class="heading-title">How It Works</h3>
						<div class="heading-text">The Report Subscription packages are customized as per the requirements of the clients. The subscription services enable the clients to avail the facility to subscribe to a particular sub-vertical of interest.
						</div>
					</div>
					<ul class="list list--standard">
						<li>
							<svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>
							<a href="#">Access to the complete repository at one place</a>
						</li>
						<li>
							<svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>
							<a href="#">Customized subscription packages</a>
						</li>
						<li>
							<svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>
							<a href="#">360° Flexible paying options</a>
						</li>
						<li>
							<svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>
							<a href="#">Global Licensing</a>
						</li>
						<li>
							<svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>
							<a href="#">Easy-to-share</a>
						</li>
                    </ul>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 medium-padding80 pl-30">
                    <button type="submit" class="btn btn--green btn--with-shadow">
                        Take a Demo
                    </button>
                </div>
                </div>
                
			</div>
		</div>
	</section>

	<!-- ... end Skew-row -->


      <!-- Promo Block -->
    
      <section class="background-cover align-center medium-padding180 bg-15">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12">
                        <div role="tabpanel" class="tab-pane fade in active" id="location">
                               

                                

                                <div class="crumina-module crumina-heading">
                                    <h2 class="heading-title">Get in Touch with Us</h2>
                                    <div class="heading-text">Got queries? Want to know more? Do not hesitate to contact us. We will be more than happy to serve you. 
                                    </div>
                                </div>

                                <form class="form-validate contact-form items-with-border" method="post">
                                    <div class="row">

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <input name="name" placeholder="Your Name" type="text">
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <input name="email" placeholder="Email Address" type="text">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <textarea name="message" class="" required="" placeholder="Your Message" style="height: 160px;"></textarea>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <button type="submit" class="btn btn--green full-width btn--with-shadow js-message-popup cd-nav-trigger">
                                                Send a Message
                                            </button>
                                        </div>

                                    </div>
                                </form>

                            </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ... end Promo Block -->



</div>

@endsection